<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp220210604134938.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f98e92a8-d426-4480-adfa-7882c1fb9558/resourcegroups/AzureFunctionsTest20210602185102ResourceGroup/providers/Microsoft.Web/sites/FunctionApp220210604134938</ResourceId>
    <IsLinux>true</IsLinux>
    <ContainerResourceId>/subscriptions/f98e92a8-d426-4480-adfa-7882c1fb9558/resourcegroups/AzureFunctionsTest20210602185102ResourceGroup/providers/Microsoft.ContainerRegistry/registries/FunctionApp220210604135322</ContainerResourceId>
    <ContainerResourceName>FunctionApp220210604135322</ContainerResourceName>
    <Subscription>Evaluación gratuita</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>functionapp220210604135322.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>